/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
/public/uploads
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/demo/requests.log
/demo/*.log
*.log
